.robot-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.robot-face-shape {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid #333;
  border-radius: 20px;
  background-color: #ffcc00;
}

.robot-eye-left {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.robot-eye-right {
  position: absolute;
  top: 30%;
  right: 25%;
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.robot-ear-left {
  position: absolute;
  top: 40%;
  left: -30px;
  width: 30px;
  height: 60px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ffcc00;
}

.robot-ear-right {
  position: absolute;
  top: 40%;
  right: -30px;
  width: 30px;
  height: 60px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ffcc00;
}

.robot-nose {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  border-radius: 50%;
  background-color: #ff6666;
  transform: translate(-50%, -50%);
}

.robot-teeth {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 80px;
  height: 20px;
  border: 3px solid #000;
  background-color: #fff;
  transform: translateX(-50%);
}

.robot-tooth {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-right: 2px solid #000;
}

/* .robot-hair-style {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  height: 50px;
  background-color: #000000;
  transform: translateX(-50%);
}

.robot-hair-one,
.robot-hair-two,
.robot-hair-three {
  position: absolute;
  width: 20px;
  height: 50px;
  background-color: #000;
} */

.robot-hair-style {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  height: 50px;
  background-color: #000000;
  transform: translateX(-50%);
}

.robot-hair-one,
.robot-hair-two,
.robot-hair-three {
  width: 20px;
  height: 50px;
  background-color: #000;
}
